<section class=''>
  <h1 class=''>Create a new Post.</h1>

  <%= form_with model: @post, url: user_posts_path do |form| %>
    <div class='form_title'>
      <%= form.label :title %>
      <%= form.text_field :title, placeholder: 'Enter Post Title', required: true, class: 'form_input'  %>
    </div>

    <div class=''>
      <%= form.label :text%>
      <%= form.text_area :text, placeholder: 'Enter Post Description', required: true, class: 'form_text_area' %>
    </div>

    <div class='btn'>
      <%= form.submit "Create Post"%>
    </div>
  <% end %>
</section>