<div class='post-details'>
    <div class='pdh-cont'>
        <div class='pd-postH'>
            <div class=''>
                <h3>Post <%= @posts.id%> by <%=@posts.author.name%></h3>
            </div>
            <div>Comments: <%=@posts.comments_counter%> Likes : <%=@posts.likes_counter%> </div>
        </div>
        <p class='post_text'><%= @posts.text %></p>
  </div>
    <div class='comment-sec'>
    <%@posts.comments.each do |comment|%>
            <div>
                <div>
                <%=comment.author.name%> : <%=comment.text %>
                </div>
            </div>
        <%end%>
    </div>
<<<<<<< HEAD
=======
    <div>
    <a href="<%= url_for(new_user_post_comment_path(@users, @posts)) %>" class="button button-wide">Add Comment</a>
  </div>

  <%= form_with url: user_post_likes_path(@users, @posts), class: 'like-form' do |form| %>
    <%= form.submit 'Like Post', class: 'btn btn-enteract' %>
  <% end %>
>>>>>>> 918ab1b3e6c87be77889b756864f1727b6df4b41
</div>


